<!-- Start Partner Area -->
{% if block('partner') is defined %}
<section class="partner-area ptb-80">
    <div class="container">
        <div class="section-title">

            <h2>Nos <span>Partenaires</span></h2>
        </div>
        <div class="row">
            <div class="partner-slider">
                <div class="item">
                    <a href="#"><img src="" alt="partner"></a>
                </div>

                <div class="item">
                    <a href="#"><img src="" alt="partner"></a>
                </div>

                <div class="item">
                    <a href="#"><img src="" alt="partner"></a>
                </div>

                <div class="item">
                    <a href="#"><img src="" alt="partner"></a>
                </div>

                <div class="item">
                    <a href="#"><img src="" alt="partner"></a>
                </div>

                <div class="item">
                    <a href="#"><img src="" alt="partner"></a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
<!-- End Partner Area -->
<footer class="footer-area ptb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="widgets">
                    <div class="footer-logo">
                        <a href="#"> <img src="/assets/img/logo_red.png" alt="logo"></a>
                    </div>
                    <p>Le réseau Recherche Edification et Développement (RED) est né de la volonté de doctorants ivoiriens en Droit et en Economie, passionnés par la culture de l’excellence et désireux d’apprendre et de partager les savoirs acquis dans leurs différents domaines de compétence.</p>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="widgets">
                    <h3>Liens utiles</h3>
                    <ul class="usefull-links">
                        <li><a href="{{ path ('homepage') }}"><i class="fa fa-angle-double-right"></i> Accueil</a></li>
                        <li><a href="{{ path ('about_us') }}"><i class="fa fa-angle-double-right"></i>Qui sommes nous</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i>Articles</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i>Actualités</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> Base de données</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i>Repères méthodologique</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i>Nous Contacter</a></li>
                    </ul>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="widgets">
                    <h3>Contactez-nous</h3>
                    <ul class="contact-us">
                        <li><i class="fa fa-map-marker"></i> Saint-Etienne France</li>

                        <li><i class="fa fa-envelope"></i> <a href="#">  info@red.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <p><i class="fa fa-copyright"></i> 2020 <a href="http://envytheme.com/" target="_blank">RED.</a> All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>