{% extends 'base.html.twig' %}

{% block title %} Inscription au site !{% endblock %}

{% block content %}

   {% if notification %}
       <div class="alert alert-info">{{ notification }}</div>
   {% endif %}
    <!-- Start Page Title Area -->
    <div class="page-title">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <h3>Inscrivez-vous sur le site RED</h3>
                            <ul>
                                <li><a href="{{ path ('homepage') }}">Accueil</a></li>
                                <li>/</li>
                                <li>Inscription</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->

    <!-- Start Signup Area -->
    <section class="signup-area ptb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="signup-content login-content">
                        <h3 class="text-center">Inscription</h3>

                        {#<ul>#}
                            {#<li><a href="#" class="facebook"><i class="fa fa-facebook-official"></i> Facebook</a></li>#}
                            {#<li><a href="#" class="google-plus"><i class="fa fa-google-plus-square"></i> Google Plus</a></li>#}
                        {#</ul>#}

                        {{ form(form) }}
                        <div class="row">
                            <div class="col-lg-12 col-md-12">

                            </div>
                            <div class="col-lg-12 col-md-12">

                            </div>

                            <div class="col-lg-12 col-md-12">

                            </div>
                            <div class="col-lg-12 col-md-12">

                            </div>

                            <div class="col-lg-12 col-md-12">

                            </div>

                            <div class="col-lg-12 col-md-12">

                            </div>
                            <div class="col-lg-12 col-md-12">

                            </div>
                            <div class="col-lg-12 col-md-12">

                            </div>

                            {#<div class="col-lg-12 col-md-12">#}
                            {#<div class="form-check">#}
                            {#<input type="checkbox" class="form-check-input" id="checkbox">#}
                            {#<label class="form-check-label" for="checkbox">I Agree To The Terms & Conditions</label>#}
                            {#</div>#}
                            {#</div>#}

                            {#<div class="col-lg-12 col-md-12">#}
                                {#<button class="btn btn-primary" type="submit">Valider</button>#}
                            {#</div>#}

                            <div class="col-lg-12 col-md-12">
                                <p>Vous avez déjà un compte ? <a href="{{ path ('app_login') }}"> Connectez-vous !</a></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Signup Area -->

{% endblock %}
